.menu a{
    color: #fff;
    text-decoration: none;
}
.menu li{
    margin-right: 25px;
}
.header{
    background-color: #091736;
}

.resume{
    background-color: #09b5b5;
    border: 1px solid #09b5b5;
    padding: 7px 20px;
    border-radius: 4px;
}
.resume:hover{
    background-color: #091736;
}
.mobile-expand-menu{
    border: 3px solid #09b5b5;
}
.mobile-expand-menu:focus{
    color: #09b5b5;
}
.mobile-expand-menu span{
    color: #09b5b5;
    background-color: #09b5b5;
}