
.technology-tag button{
    background-color: #0a0a23;
    color: #fff;
    border: none;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 7px 15px;
    border-radius: 6px;
}
.project-slider{
    border: 10px solid #09b5b5;
    padding: 0;
    border-radius: 10px;
    margin-left: 30px;
}
.project-slider img{
    width: 100%;
    height: 385px;
}
.project-info{
    background-color: #266479;
    padding: 15px 35px;
    margin-left: -45px;
    z-index: 10;
    border-radius: 7px;
    margin-top: 25px;
}
.slide{
    margin-right: 0;
}
.swiper-button-prev::after{
    padding-left: 70px;
}
.swiper-button-next::after{
    padding-right: 70px;
}

/* .social-icon a{
    margin-right: 25px;
    font-size: 25px;
} */
.project-icon a{
    background-color: lightgray;
    padding: 8px 15px;
    border-radius: 6px;
    font-size: 18px;
}
.project-icon span{
    margin-right: 7px;
}
.heading{
    color: #fff;
}
.heading span{
    color: #09b5b5;
    font-size: 41px;
    font-weight: 700;
    font-family: 'Graduate', cursive;

}



/*// Responsive //*/
@media (max-width: 767.98px) { 
    .project-slider{
        margin: 0 auto;
        width: 90%;
    }
    .project-info{
        margin: -15px auto;
        width: 92%;
        z-index: -30;
    }  
 }

 @media (max-width: 575.98px) { 
    .project-slider{
        margin-left: 45px;
    }
    .project-slider img{
        width: 100%;
        height: 285px;
    }
    .project-info{
        width: 95%;
        margin-left: 32px;
    }
    .project-info h4{
        font-size: 18px;
    }
    .project-info p{
        font-size: 12px;
    }
    .project-info button{
        font-size: 12px;
    }
    .project-info a{
        font-size: 14px;
    }
    .heading{
        font-size: 25px;
        margin-top: 0;
        padding-top: 0;
    }
    .heading span{
        font-size: 29px;
    }
    .banner-image{
        margin-top: 25px;
    }
  }