.blogs-card {
    background-color: grey;
    padding: 0;
    transition: .3s;
    border-radius: 5px;
}
.blogs-card:hover{
    transform: scale(.97);
    cursor: pointer;
}
.blogs-card img{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.blog-card-text{
    padding: 0 15px;
}