.blogs-card {
    background-color: grey;
    padding: 0;
    transition: .3s;
    border-radius: 5px;
    width: 29%;
    margin-right: 3%;
    margin-bottom: 3%;
}
.blogs-card:hover{
    transform: scale(.97);
    cursor: pointer;
}
.blogs-card img{
    width: 100%;
    height: 270px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.blog-card-text{
    padding: 20px 20px;
}
.blog-card-text h5{
    color: whitesmoke;
}
.blog-card-text a{
    text-decoration: none;
}


/* // Responsive // */
@media (max-width: 767.98px) { 
    .blogs-card {
        width: 60%;
        margin: 0 auto;
    }
    .blogs-card img{
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
 }

 @media (max-width: 575.98px) { 
    .blogs-card img{
        width: 100%;
        height: 200px;
    }
    .blog-card-text h5{
        font-size: 15px;
    }
    .blog-card-text p{
        font-size: 12px;
    }
    .contact-button {
        font-size: 14px;
        padding: 25px;
    }
    .blog-section{
        padding: 0px 15px !important;
    }
    .heading{
        padding-bottom: 20px !important;
    }
    .blogs-card {
        width: 80%;
        margin-bottom: 25px;
        margin-left: 0;
    }
    .blogs-card img{
        height: 150px;
        margin-bottom: 0;
    }
    .blog-card-text{
        padding: 10px 15px;
    }
    .blog-card-text h5{
        font-size: 12px;
    }
    .contact-button{
        padding: 0px !important;
        width: 80%;
        margin: 0px 30px;
    }
    .heading{
        margin-bottom: 0;
    }
    .primary-button{
        margin: 12px 0 !important;
    }
    .footer{
        padding-top: 0 !important;
        width: 100%;
        margin-left: 27px;
    }
    .footer h5{
        font-size: 10px !important;
    }


 }