.about{
    display: flex;
    justify-content: end;
}
.about-left {
    border-right: 3px solid #09b5b5;
}
.about-left p{
    font-size: 16px;
}
.about-image img{
    height: 250px;
}
.about-right{
    width: 550px;
    margin-left: 30px !important;
    margin-top: 0 !important;
}
.project-info h4{
    color: lightgray;
    margin-top: 20px;
}



/*// Responsive //*/
@media (max-width: 575.98px) { 
    /* .about-image{
        margin-right: 14%;
    } */
    .about{
        margin-left: 0 !important;
        margin-bottom: 15% !important;
    }
    .about-left{
        border-right: none;
        border-bottom: 3px solid #09b5b5;
        padding-bottom: 15px;
    }
    .about-right{
        width: 450px;
        margin-left: 12px !important;
        margin-top: 20px !important;
    }
 }